:host {
  display: flex;
  align-items: center;
  gap: 1rem;
}
button {
  padding: .3rem .75rem;
  border: solid 1px gray; 
  border-radius: .5rem;
  transition: all 200ms linear;
  &:hover {
    background-color: teal;
    color: wheat;
  }
}